@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

.page-header {
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.25px;
    color: #161723;
    padding-top: 80px;
    padding-bottom: 80px;
}

.fea-text{
    font-family: "Inter Tight", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
}

.fea-header{
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 19px;
    line-height: 150%;
    letter-spacing: 0.5px;
}

.card{
    border: none;
    margin-bottom: 50px;
}
.btn-get{
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    background-color: #EE6F4B;
    color: white;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 6px;
}

.bg-nutrition{
    background-color: #F8F8F8;
    padding: 37px;
}

.Nutrition{
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 37px;
    line-height: 120%;
    letter-spacing: 0.25px;
}

.Nutrition-Invest{
    font-family: "Inter Tight", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
}

.key-points{
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 19px;
    line-height: 150%;
    letter-spacing: 0.5px;
    padding-top: 20px;
}

.first-point{
    font-family: "Inter Tight", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
}

.header-point{
    font-family: "Inter Tight", sans-serif;
    font-weight: 700;
    font-size: 33px;
    line-height: 150%;
    letter-spacing: 0.25px;
    color: #EE6F4B;
    padding-right: 10px;
}

.dogs-eating{
    border-radius: 10px;
    width: 570px;
    height: 480px;
}

.improve{
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.25px;
}

.improve-point{
    font-family: "Inter Tight", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
    padding-top: 10px;
}

.closing-section{
    padding-bottom: 50px;
}